html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-main: #e2e8f0;
  --bg-menu: #ffffff;
  --bg-hover: #f1f5f9;
  --bg-active: #f0f2ff;
  --txt-main: #576881;
  --txt-hover: #000000;
  --txt-active: #0023c4;
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: var(--bg-main);
  padding: 1rem;
  height: 100%;
}